html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;

  background-color: #f3f7fa;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-header__logo {
  width: 60px;
  height: 60px;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 820px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 234px;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: #5b89a4 0 1px 4px 0;
}

.sidebar__fieldset {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.sidebar__fieldset:last-child {
  margin-bottom: 0;
}

.sidebar__legend {
  margin-bottom: 10px;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebar__currency-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
}

.sidebar__currency-label {
  width: 68px;
  padding: 10px 20px;

  text-align: center;

  border: #d2d5d6 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"]:checked + label.sidebar__currency-label {
  color: #ffffff;

  background-color: #2196f3;
  border: none;
}

.sidebar__currency-label:hover {
  background-color: #f2fcff;
  border-color: #64b5f5;
}

.sidebar__currency-label--first-col {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar__currency-label--second-col {
  border-radius: 0;
}

.sidebar__currency-label--third-col {
  border: #d2d5d6 1px solid;
  border-left: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sidebar__currency-label--third-col:hover {
  background-color: #f2fcff;
  border-color: #64b5f5;
}

.sidebar__stops-label {
  position: relative;

  display: block;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 45px;

  font-size: 13px;
  line-height: 20px;

  cursor: pointer;
}

.sidebar__stops-label:hover {
  background-color: #f1fcff;
}

.sidebar__stops-label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;

  width: 20px;
  height: 20px;

  border: 1px solid #d2d5d6;
  border-radius: 3px;
  cursor: pointer;
}

.sidebar__stops-label:hover::before {
  border-color: #2196f3;
}

input[type="checkbox"]:checked + label.sidebar__stops-label::before {
  background-color: #f2fcff;
  border-color: #2196f3;
}

.sidebar__stops-label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;

  display: none;
  width: 20px;
  height: 20px;

  background-image: url("/img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

input[type="checkbox"]:checked + label.sidebar__stops-label::after {
  display: block;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  width: 566px;
}

.ticket {
  position: relative;

  display: flex;
  margin-bottom: 20px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: #5b89a4 0 1px 4px 0;
}

.ticket__buy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 25px 20px;

  border-right: 1px solid #eceff1;
}

.ticket__logo {
  width: 120px;
  height: 35px;
  margin-bottom: 20px;
}

.ticket__buy-btn {
  display: block;
  width: 160px;
  padding: 5px 10px;

  text-align: center;
  color: #ffffff;

  background-color: #ff6d00;
  border-radius: 5px;
  box-shadow: #d64d08 0 1px 0 0, #000000 0 2px 1px 0;
}

.ticket__buy-btn:hover {
  background-color: #ff8124;
  box-shadow: #d64d08 0 1px 0 0, #000000 0 1px 5px 0;
}

.ticket__info-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
}

.ticket__info-departure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-right: 50px;
}

.ticket__info-arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-left: 50px;
}

.ticket__info-time {
  width: 100%;
  margin-bottom: 10px;

  font-size: 32px;
  line-height: 26px;
  color: #4a4a4a;
}

.ticket__info-time--departure {
  text-align: left;
}

.ticket__info-time--arrival {
  text-align: right;
}

.ticket__info-location {
  width: 100%;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: #4a4a4a;
}

.ticket__info-location--origin {
  text-align: left;
}

.ticket__info-location--destination {
  text-align: right;
}

.ticket__info-date {
  width: 100%;

  font-size: 12px;
  line-height: 18px;
  color: #8b9497;
}

.ticket__info-date--departure {
  text-align: left;
}

.ticket__info-date--arrival {
  text-align: right;
}

.ticket__info-stops {
  position: absolute;
  top: 25px;
  left: 50%;

  width: 110px;

  transform: translateX(50%);
}

.ticket__info-stops-text {
  display: block;
  min-height: 24px;
  position: relative;

  margin: 0;

  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #8b9497;
  text-transform: uppercase;
}

.ticket__info-stops-text::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;

  width: 96px;
  height: 1px;

  background-color: #d2d5d6;
}

.ticket__info-stops-text::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;

  width: 13px;
  height: 14px;

  background-image: url("/img/plane.svg");
  background-repeat: no-repeat;
}
